@import "@colors";

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 24px;
  border-radius: 4px;
  color: $white02;
  font-weight: 600;
  font-size: 16px;
  background-color: $black02;

  .block {
    display: flex;
    flex-grow: 1;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .title {
      color: $white04;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.divider {
  margin: 0 8px;
  color: $black06;
  font-size: 24px;
}
