$red01: #eb0237;
$red02: #a01131;
$red03: #701328;
$green01: #43ad28;
$orange01: #eb6402;
$black01: #090909;
$black02: #0f1318;
$black03: #0f1318;
$black04: #0d1115;
$black05: #11161d;
$black06: #0b0e12;
$white01: #ffffff;
$white02: #fafafa;
$white03: #f2f6f6;
$white04: #fafafa66;
$gray01: #68696a;
$gray02: #b4b5b6;
$gray03: #787878;
